html * {
  font-family: Arial !important;;
}

.container {
  text-align: center;
  /* display: inline; */
}

.img-badge {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.img-badge img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.img-badge{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}